/* UTILITIES */

.inline-block {
    display: inline-block;
}


/* PAGE */

.page-wrapper {
    padding: 0;
    overflow:hidden;
}


/* HEADER */





/* FOOTER */

footer {
    a{ text-decoration: none;color: #333;}
    &>.container {
        background-color: #F5F5F5;
        font-size: 0.75rem;
        padding: 1% 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &>div {
          padding: 8px 0px;
          margin-right: 4%;
          display: inline-block;
        }
        &>div:last-child{
          margin-right:0;
        }
        &>.social {
            padding: 0;
            .fb {
                background-image: url('../images/fb.png');
            }
            .twt {
                background-image: url('../images/twt.png');
            }
            .insta {
                background-image: url('../images/insta.png');
            }
            .yt {
                background-image: url('../images/yt.png');
            }
            span {
                width: 30px;
                display: inline-block;
                height: 30px;
                margin-right: 5px;
            }
        }
    }
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}


/* SINGLLE  */

.single {
    .entry-title {
        font-size: 1.35rem;
        color: rgb(53, 139, 196);
    }
    .entry-content {
        font-size: 0.85rem;
        & > img {
            width: 100%;
            margin-bottom: 2rem;
        }
        & > p {
            display: inline-block;
        }
    }
}


/* AREE TERAPEUTICHE */

.single-aree-terapeutiche,
.archive {
    .content {
        position: relative;
        img {
            max-width: 100%;
        }
    }
}

.content-wrapper {
    padding: 0 0 2%;
    font-family: robotolight;
    font-size: 1rem;
    line-height: 1.5;
}
.thumb-wrapper,.content-single-wrapper,.lineas,.prevenzione{
  width:100%;
  @include media-query(lap-and-up){
  width:calc(50% - 0.75rem);
  };
}
.prevenzione {
    vertical-align: top;
    margin-right: 1.5rem;
    padding: 0px 3px;
    h3 {
        background-color: rgb(42, 121, 178);
        color: rgb(255, 255, 255);
        padding: 2%;
        font-size: 1.4rem;
    }
    ul {
        margin-left: 1rem;
    }
    li {
        color: #006990;
        &>span {
            color: #1B1B1B;
        }
    }
}
.lineas{
  @include media-query(lap-and-up){
    margin-top: 2.9rem;
  }
}
.slideshow.correlati {
    h3,
    h4 {
        color: rgb(80, 128, 177);
        text-align: center;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(80, 128, 177);
    margin: 1em 0;
    padding: 0;
}

.down-nav {
    padding: 1% 0px 0;
    text-align: center;

    .line {

      display: inline-block;
      white-space: nowrap;
      font-size: 1.5rem;
      color: rgb(42, 121, 178);
      .title {
        display: inline-block;
          margin: 0px 3rem;


      }
      .prev,.next{
        height: 100%;
        width: 9%;
        vertical-align: top;
        position: relative;

        a{
          left: 0px;
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }
}
.not-home{
  .down-nav {
.line {
@include  media-query(palm){ height: 5rem ;}
.title {
@include media-query(palm){
            margin: 0px 2%;
            width: 80%;
            white-space: normal;
          }
      }
      .prev,.next{
       @include  media-query(palm){ display: inline-block; }
        @include  media-query(lap-and-up){ vertical-align: middle;}
        a{
        @include  media-query(palm){ position: absolute;}
        }
      }
    }
}
}



.slider-patologie {
    overflow: hidden;
}

.archive,
.single {
    .big-claim {
        color: #4D74AB;
    }
}

.slider-patologie .swiper-slide {
    text-align: center;
    width:100%;
}
@include media-query(lap-and-up){
  .slider-patologie.three .swiper-slide{
      width:33.33333%;
  }
  .slider-patologie.four .swiper-slide{
      width:25%;
  }
}

.slider-patologie .swiper-slide a {
    display: inline-block;
    height: 100%;
    position: relative;
    //border: 2px solid #E6E6E6;
    text-decoration: none;
}

.slider-patologie .swiper-slide a div {
    background-color: rgba(38, 114, 176, 0.81);
    width: 100%;
    text-align: center;
    padding: 2%;
}

.slider-patologie .swiper-slide a h3 {
    margin: 0;
    color: #fff;
}

.content-wrapper .lineas h3 {
    margin: 1.5rem auto;
    text-align: center;
    font-size: 2rem;
    color: #53568D;
}

.content-wrapper .lineas img {
    margin: 0 auto;
    display: block;
    height: auto;
    max-width:100%;
}

.single article {
    padding: 2%;
}

.single .slideshow.correlati {
    margin-top: 1.5rem;
}

.single .content-single-wrapper {
    vertical-align: top;
    h1,
    h5 {
        background-color: rgba(38, 114, 176, 0.81);
        color: #fff;
        text-align: center;
        margin: 0px auto 1.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
        padding: 0rem 2rem 1rem;
        margin-bottom: 0px;
    }
}

.single .thumb-wrapper {
  position: relative;
    img {
        width: 100%;
    }
}

.single-aree-terapeutiche,.single-linee,
.post-type-archive-aree-terapeutiche,.post-type-archive-linee {
    .flag-media {
        padding: 0% 2%;
        .flag-thumb {
            width: 40%;
            margin-right: 1rem;
            display: inline-block;
            vertical-align: top;
        }
        .flag-body {
            display: inline-block;
            width:100%;
        }
        img {
            height: auto;
            width: 100%;
        }
    }
    .slideshow.correlati img {
        width: 252px !important;
        height: auto;
    }
}
.single-linee,.post-type-archive-linee{
  .flag-media{
    .flag-body{
      width:calc(60% - 1rem);
    }
  }
}
.single-prodotti {
    img {
        height: auto;
    }
    .thumb-wrapper {
        max-width: 510px;
    }
    .slider-patologie {
        img {
            max-width: 250px;
        }
    }
}

.single-prodotti {
    .slideshow.correlati>h3 {
        background-color: rgba(38, 114, 176, 0.81);
        color: #FFF;
        text-align: center;
        padding: 1.3%;
    }
    .like {
      text-align: right;
      position: absolute;
      bottom: 2%;
      right: 3%;
    }
}

.home .slider-patologie .swiper-slide a {
    max-width: 100%;
    img {
        max-width: 100%;
        height: auto;
    }
    &>div {
        position: absolute;
        bottom: 0px;
        background-color: rgba(38, 114, 176, 0.81);
        width: 100%;
        text-align: center;
        padding: 2%;
        h3 {
            margin: 0px;
            color: #FFF;
        }
    }
}

.home .slideshow {
    padding: 0px 3%;
    position: relative;
}
.background-container{
  .wp-post-image{
    width:100%;
    height:auto;
  }
}


.accordion{
  margin: 1.5rem auto;
}
.accordion dl,
.accordion-list {
   border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#38cc70, 10%);
     }
}
.accordion .accordion-content,
.accordion__panel {

   font-size:1em;
   line-height:1.5em;
}
.accordion p {
  padding:1em 2em 1em 2em;
}


.accordionTitle,
.accordion__Heading {

   text-align:center;
     font-weight:700;

          display:block;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;

  &:before {
   content: "+";
   font-size:1.5em;
   line-height:1.25em;
   float:left;
   transition: transform 0.3s ease-in-out;
   margin-left: 5px;
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
  h5{margin:0;}
}
.accordionTitleActive,
.accordionTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {

      transform:rotate(-225deg);
    }
}
.accordion-content {
    height:auto;
    overflow:hidden;
    //SHAME: magic number to allow the accordion to animate


    transition:max-height 1s;


    @media screen and (min-width:48em) {

        transition:max-height 0.5s

    }


}

.accordion-content.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}
