header.banner {
    // padding: 2% 0px 5%; //no slides
    position: relative;
}

.header-content-wrapper {

    z-index: 21;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;

    width: 100%;
}












