.single-area-skin-care,
.post-type-archive-area-skin-care,
.single-linee,.post-type-archive-linee{
      .flag-media {
      padding:  1em 2%;
    }
    .flag-body {
        display: inline-block;
                    margin: 0px;

            font-size:0.9rem;
                 p{
              text-align: justify;
              padding:0;
            }
          }
}
/* AREE TERAPEUTICHE */

.single-area-skin-care,
.post-type-archive-area-skin-care {
    .content {
        position: relative;
        img {
            max-width: 100%;
        }
    }
    .flag-media {
        .flag-body {
            width:100%;
            padding: 0px 7% 1%;
             >.readmore1{
    padding: 2% 0px;
    font-weight: 700;
    display: inline;
    color:#24569B;
    cursor:pointer;
}
          }
        .flag-body.collapsed{
          >p{ display:none;}
          >p:first-child{ margin-bottom:0;display:inline;}

        }
    }
    .prevenzione {
    vertical-align: top;
    margin-right: 1.5rem;
    padding: 0px 3px;
    width:100%;
    @include media-query(lap-and-up){
      width:calc(50% - 0.75rem);
    };
    h3 {
        background-color: #24569B ;
        color: rgb(255, 255, 255);
        padding: 2%;
        font-size: 1.4rem;
        margin: 0px 7% 1%;
    }
    .flag-media{
        padding: 0px 6% 1em;
    }
  }

  .lineas{
     @include media-query(lap-and-up){
    margin-top: 2.9rem;
  }
  padding: 0px 2%;
    width:100%;
  @include media-query(lap-and-up){
  width:calc(50% - 0.75rem);
  };
img {
    margin: 0 auto;
    display: block;
    height: auto;
    max-width:100%;
}
  }
}

.single-linee,.post-type-archive-linee{
  .desc{
    .desc-text{padding: 0px 5%;}
    margin-bottom: 1.5rem;
    >p{display:block;margin-bottom:0.5rem}
  }
  .content-wrapper{
    padding: 0px 15%;
    margin-top: 1rem;
    a{ text-decoration: none;}
    &>h3{
      background-color: #24569B;
      color: #FFF;
      font-size: 1.4rem;
      text-align: center;
      padding: 0.5rem;
      font-size: 1.15rem;
      margin: 0px auto;
      a{ text-decoration: none;color:#fff;}
    }
    .flag-media{
      border-bottom: 1px solid #318EC8;
      position:relative;
      &.odd{ background: transparent linear-gradient(to bottom, #F8F8F8 0px, #EDE6E6 47%, #F5F5F5 100%) repeat scroll 0px 0px;}
      &.even{ background:#fff;}
      .product-title{color:#24569B;text-align: center;margin-bottom: 0;}
      img{
        width:150px;
        height: auto;
      }
      .flag-thumb{ width:auto;margin-right: 0;vertical-align: middle;display: inline-block;}
      .flag-body{
        width:calc(100% - 150px );
        padding: 0px 2% 1%;
        p{
          display: inline;
          margin:0;
        }
        .more{
          position: absolute;
          right: 3%;
          bottom: 10%;
          a{ color:#000;}
        }
      }
    }
  }
}
.single-linee.osmin-linea-pediatrica{
 .content-wrapper{
  padding:0;
  >.flag-media{

    .flag-body{
                  width:100%;
            padding: 0px 7% 1%;
    }
  }
     .prevenzione {
    vertical-align: top;
    margin-right: 1.5rem;
    padding: 0px 3px;
    width:100%;
    @include media-query(lap-and-up){
      width:calc(50% - 0.75rem);
    };
    h3 {
        background-color: #24569B ;
        color: rgb(255, 255, 255);
        padding: 2%;
        font-size: 1.4rem;
        margin: 0px 7% 1%;
    }
    .flag-media{
        padding: 0px 6% 1em;
        border-bottom: 0;
        .flag-body{
          width:auto;
        }
    }
  }

  .lineas{
     @include media-query(lap-and-up){
    margin-top: 2.9rem;
  }
  padding: 0px 2%;
    width:100%;
  @include media-query(lap-and-up){
  width:calc(50% - 0.75rem);
  };
img {
    margin: 0 auto;
    display: block;
    height: auto;
    max-width:100%;
}
  }
 }
}
/*  SINGLE PRODOTTI */
.single-prodotti{
  article {
      padding: 0;
  }
  img{
    height: auto;
  }
  .thumb-wrapper {
  position: relative;
  max-width: 510px;
  padding: 0px 5% 0%;
    img {
        width: 100%;
    }
  }
      h1,
    h5 {
    text-align: center;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid;
    }
    h1 {
        color: rgb(36, 86, 155);
        font-size: 2rem;
        padding: 1.3% 0px;
        >span{
          display: block;
          margin-top: 0.5rem;
        }
    }
    h5 {
        font-size: 1.075rem;
        padding: 0.25rem 0;
        color:#fff;
    }
  .content-single-wrapper {
    vertical-align: top;
    header{
      margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        padding: 0rem 2rem 1rem;
        margin-bottom: 0px;
    }
  }
  .entry-content>p{
    padding: 0px 2rem 0.5rem;
    display: inline-block;
  }
  .under-photo{
    text-align: center;
    margin-top: 1rem;
    .like {
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
    }
    .formato{
      vertical-align: middle;
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: 700;
      color:#24569B;
    }
  }
  .product-last-line{overflow:hidden;}
 .faq-single>a {
  color: #24569B;
font-weight: 700;
  text-decoration: none;
font-size: 0.9rem;
}
.ean{ font-size: 0.75rem;float: right;}
.nav-bread{
  margin: 0.5rem 0px;
  .go-back{
  margin: 0.5rem 0 0;
font-size: 0.85rem;
padding-left: 0.75rem;
    &>a{
      text-decoration: none;
      color: #24569B;
    }
}
}

}



