.attivi-wrapper{
  padding-top:1rem;
  >h3{
    text-align: center;
    color: rgb(36, 86, 155);
  }
}
.attivi{
  margin-left:0;
  display:flex;
  flex-wrap: wrap;
  .attivo{
    >img{
      width: 100%;
      max-width: 250px;
      display: block;
      margin: 0px auto;
    }
    >p{
      text-align: center;
      padding: 0px 10%;
      color:#2672B0;
      font-weight: 700;
      padding-top:0.5rem;
    }
  }
  .attivo:last-child{
    margin-right: 0;
  }
}

.single-area-skin-care,
.post-type-archive-area-skin-care{
  .attivi-wrapper{margin-top: 1.5rem;    padding: 0 2% 0 6.1%;}
  .attivo{
    display: inline-flex;
    align-items: center;
    flex-basis: 50%;
    margin: 0 0px 1.5rem;
    padding: 0 1%;

    .attivo-img-container{
      display: inline-block;
      margin-right: 0.5rem;
      >img{max-width:none !important;}
    }
    .attivo-desc-body{
      display: inline-block;
      padding: 2%;
      >h3{
        color: #24569B;
      }
    }
  }
}

.single-linee,.post-type-archive-linee{
  .attivo.w1{flex-basis: 100%;}
  .attivo.w2{flex-basis: 50%;}
  .attivo.w3{flex-basis: 33.333%;}
  .attivo.w4{flex-basis: 25%;}
}
