header.banner {
    // padding: 2% 0px 5%; //no slides
    position: relative;
}

.header-content-wrapper {

    z-index: 21;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;

    width: 100%;
}

.nav-primary {
    text-align: center;
    margin: 0 auto;
    border-top: 5px solid white;
    padding: 0px 7%;
    /*max-width: 840px;*/
    .nav {
        margin-left: 0;
        padding: 0px 10%;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    &>ul{
        display:flex;
        justify-content: space-around;
        align-items: center;
        /*
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
        */
        &>.menu-item {
        display: none;
        @include media-query(lap-and-up) {
            display: inline-block;
            /*
            vertical-align: top;
            margin: 3% 2.3vw 0px;
            */

        }
        >a {
            display: block;
            padding: 2px 0.5rem 0px;
            >span{
                padding-bottom: 44px;
            }
        }
        }
    }
}

.menu-logo{
    /*
    display: inline-block !important;
    vertical-align: middle;
    position: static !important;
     */
    .circle-container {
       display:inline-block;
    }

    .s-circle {
        border-radius: 50%;
        color: rgb(23, 102, 169);
        background-color: rgb(255, 255, 255);
        margin-top: -63%;
        padding: 72% 16% 10%;
        /*
        padding: 42% 18% 13%;
        */
        h3 {
            font-size: 0.6rem;
            margin: 15px 0 0;
        }
        span {
            display: block;
        }
    }
}


.menu-linea-osmin .menu-image{
  width:100% !important;
  height:auto !important;
}

.news-box {
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 25px;
    left: 30px;
    max-width: 32%;
    z-index: 20;
    h3 {
        margin: 0px;
        padding-left: 10px;
        color: rgb(255, 255, 255);
        background-color: rgb(77, 116, 171);
        font-size: 1.2rem;
        line-height: 1.5;
    }
    .news {
        h5 {
            margin: 0px;
            color: rgb(115, 148, 179);
            font-size: 0.9rem;
            line-height: 2;
            padding-left: 10px;
        }
        .content {
            font-size: 0.7rem;
            padding: 0px 10px 10px;
            text-align: right;
            &>p{
              text-align: left;
              margin-bottom: 0px;
            }
            &>p:last-of-type{
              text-align:right;
              display: inline;
            }
            &>a:last-child,.more-link{
              font-size: 0.7rem;
            }
            &>a:last-child{
              margin-left: 1rem;
            }
        }
        .more {
            font-size: 0.6rem;
            text-align: right;
            padding: 0px 10px;
        }
        a {
            text-decoration: none;
            color: rgb(88, 87, 83);
        }
    }
}


/* MENU */

#menu-menu-1 {
    li {
        position: relative;
        &:hover ul {
        display: block;
        position: absolute;
        }
        a {
            display: block;
            color: #fff;
            font-size: 14px;
        }
        ul {
            display: none;
            background-color: #fff;
            top: 26px;
            left: 50%;
            transform: translate(-50%);
            z-index: 25;
            text-align: center;
            margin-left: 0;
            padding: 0% 27%;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            &:hover{
                display: block;
                position: absolute;
            }
            li {
                list-style: none;
                padding: 0.5% 0;
                text-align: left;
                a {
                    width: 160px;
                    color: #5E9CC3;
                    padding: 1% 2%;
                    white-space: pre;
                    display: inline;
                    text-align: center;
                    margin: 0px auto;
                }
                ul li {
                    float: left;
                    position: relative;
                    text-transform: uppercase;
                    list-style: none;
                    a {
                        font-size: 11px;
                        padding: 1% 5%;
                    }
                }
            }
        }
    }
    >.menu-item.active>a{
    background-color: #2672B0;
    color: #fff;
    }

}
.archive,
.single {
    #menu-menu-1>li>a,
    {
        color: #4D74AB;
    }
}

.menu-aree-terapeutiche .sub-menu li.active a {
    color: #fff;
    text-decoration: underline;
}



.menu-item:hover,
.single #menu-menu-1 > li:hover {
    &>a {
        color: #fff !important;
        background-color: #6ABAFB;
    }
}

.menu-item.active:hover > a {
    background-color: inherit;
}

.single #menu-menu-1 > .menu-logo:hover > a,
.menu-logo:hover> a {
    background-color: inherit;
}

.menu-linea-osmin:hover{
    &>a {
        color: #5E9CC3 !important;
        background-color: inherit !important;
    }
}
.nav-primary > ul >.menu-item.other{
    position: absolute !important;
    right: 5%;
    top: 0px;
    padding: 1% 0px;
    color: rgb(255, 255, 255);
}
.search.menu-item {
    min-width: 1.25rem;
    height: 1.25rem;
    vertical-align: -.28rem;
    overflow: hidden;
    -webkit-transition: width .3s ease 0s;
    transition: width .3s ease 0s;
    position: relative;
    width: 0;
    vertical-align: bottom;
    margin-right: 1em;
}

#s {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    font-size: .8rem;
    height: 1.25rem;
    padding: 1% 12% 1% 2%;
    margin: 0;
    z-index: 10;
    font-family: inherit;
    color: #2C3E50;
}

#searchsubmit,
.icon-search {
    right: 0;
    background: #006EB6;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer
}
#s,
.icon-search {
    background-color: transparent !important ;
    border: 0px none !important;
}
#searchsubmit {
    opacity: 0;
    color: transparent;
    z-index: -1;
    line-height: 1.25rem
}

.icon-search {
    font: 16px/1.25rem FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 90
}

.sb-search.sb-search-open {
    width: 13%
}

.sb-search.sb-search-open .sb-icon-search {
    background: #fff;
    color: #006EB6;
    z-index: 11
}
.lang-container{
  font-size: 0.85rem;
  .active{

  }
    .it{
    border-right: 1px solid #FFF;
    }
    .it,.en{
        padding: 27% 15%;
vertical-align: middle;
    }
}
