
.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
  width: 100% !important;
   //height: 56.25vw !important;
     //       max-height: calc(1276px / 1.777);
    height: 100%;
}
@include media-query(palm){
  .wp-video{
    margin-top: 1rem;
    padding: 0 5%;
  }
}
.wp-video, video.wp-video-shortcode {
  max-width: 100% !important;
}
video.wp-video-shortcode {
  position: relative;
}

.mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mejs-controls {
  display: none !important;
}
.mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}
.mejs-container {
  width:  auto !important;
  height: 100% !important;
  //padding-top: 56.25%;
}
.mejs-overlay, .mejs-poster {
  width: 100% !important;
  height: 100% !important;
}
.mejs-mediaelement video {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  //width: 100% !important;
  height: 100% !important;
}
.mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
    background: transparent !important;
}
.mejs-overlay-button {
    max-width: 100px;
    max-height: 100px;
    min-width: 40px;
    min-height: 40px;
    margin: 0 !important;
    height: 5vw !important;
    width: 5vw !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-position: 0% 0% !important;
    transform: translate(-50%,-50%);
}
